part=xck26-sfvc784-2LV-c

[hls]
flow_target=vivado
package.output.format=ip_catalog
package.output.syn=false
package.ip.vendor=monutchee
package.ip.library=msap1
package.ip.name=hls_mtr2_engine
package.ip.version=1.0
package.ip.display_name=MSAP1 MTR2 150/180-cycle aggregation engine
clock=10ns
syn.top=hls_mtr2_engine
syn.file=src/mtr2_engine.cpp
syn.cflags=-Isrc -I../../common/include -DAP_INT_MAX_W=2048
# aresetn must re-zero the diagnostic counters and the open-aggregate
# bookkeeping exactly like the hand-written RTL engine.
syn.rtl.reset=state
tb.file=test/mtr2_engine_tb.cpp
tb.cflags=-Isrc -I../../common/include -DAP_INT_MAX_W=2048
