part=xck26-sfvc784-2LV-c

[hls]
flow_target=vivado
package.output.format=ip_catalog
package.output.syn=false
package.ip.vendor=monutchee
package.ip.library=msap1
package.ip.name=hls_mtr1_engine
package.ip.version=1.0
package.ip.display_name=MSAP1 MTR1 basic measurement engine
clock=10ns
syn.top=hls_mtr1_engine
syn.file=src/mtr1_engine.cpp
syn.cflags=-Isrc -I../../common/include -DAP_INT_MAX_W=2048
# aresetn must re-zero the sequence/drop counters and the window
# bookkeeping exactly like the retired meter_rms engine.
syn.rtl.reset=state
tb.file=test/mtr1_engine_tb.cpp
tb.cflags=-Isrc -I../../common/include -DAP_INT_MAX_W=2048
