part=xck26-sfvc784-2LV-c

[hls]
flow_target=vivado
package.output.format=ip_catalog
package.output.syn=false
package.ip.vendor=monutchee
package.ip.library=msap1
package.ip.name=hls_agg10_12_cycle_engine
package.ip.version=1.0
package.ip.display_name=MSAP1 10/12-cycle basic measurement engine
clock=10ns
syn.top=hls_agg10_12_cycle_engine
syn.file=src/agg10_12_cycle_engine.cpp
syn.cflags=-Isrc -I../../common/include -DAP_INT_MAX_W=8192
# aresetn must re-zero the block state and committed configuration
# exactly like the sibling engines.
syn.rtl.reset=state
tb.file=test/agg10_12_cycle_engine_tb.cpp
tb.cflags=-Isrc -I../../common/include -DAP_INT_MAX_W=8192
